/* Grids */
@supports (grid-area:auto){
  .navbars{
    display: grid;
    grid-template-rows: 45px 110px;
    grid-template-areas: 
    'tool'
    'navb';
  }
  .content{
    padding: 2px;
    grid-gap: 2px;
    background: #ececec;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 450px 200px;
    grid-template-areas: 
    'anno anno anno'
    'task anl1 anl1'
    'reco anl2 anl2'
    'foot foot foot'
  }
}
/* End Grids */
  
/* Global */
body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
h2{
  margin: 0;
  color: #2498f4;
  font-size: 1.8em;
  letter-spacing: 1px;
}
h3{
  color: #2498f4;
  letter-spacing: .5px;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-border{
  border: 0 !important; /*important so it doesn't get overridden
                         while still keeping global syles at the top*/
}
/* End Global */

/* Navbars */

  /* Toolbar */
    .toolbar{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-area: tool;
      background: linear-gradient(#2498f4, #208ce3)
    }
    #social-stream{
      position: absolute;
      left: 100px;
      font-size: 1.5em;
    }
    .horiz-line{
      height: 28px;
      width: 2px;
      border-right: 1px solid #208ce3;
      margin: 0 10px;
    }
    .tool-text{
      margin: 0;
      font-family: sans-serif;
      font-weight: bold;
      color: #fff;
    }
    .settings{
      margin-right: 80px;
    }
  /* End Toolbar */

  /* Navbar */
    .navbar{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      grid-area: navb;
      background: #134670;
      overflow: hidden;
    }
    .navb-item{
      margin: 0 15px;
      z-index: 4;
      filter: drop-shadow(0 15px 15px black)
    }
    .backgrounds{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    .icon-background-stripes{
      z-index: 2;
      top:0;
    }
    .icon-background-shadow{
      z-index: 4;
    }
    .fade-left-shadow{
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
    }
    .fade-right-shadow{
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
    }
  /* End Navbar */
  
  /* Searchbar */
    .searchbar{
      width: 82.5%;
      height: 75px;
      margin: 15px auto;
      background: #33cc66;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .searchbar h1{
      color: #fff;
      font-family: 'PT-Sans', sans-serif;
      font-weight: 300;
    }
    .sbar-child{
      margin: 0 20px;
    }
    #input-wrapper{
      position: relative;
    }
    #sbar-input{
      border: 1px solid #2db55b;
      border-radius: 3px;
      height: 28px;
      width: 258px;
      color: #000;
      padding: 4px;
      font-size: 1.1em;
    }
    .search{
      position: absolute;
      bottom: 8px;
      right: 30px;
    }
  /* End Searchbar */

/* End of Navbars*/

/* Content */
  #content-wrapper{
    width: 80%;
    margin: auto;
    padding: 15px;
    background: linear-gradient(#f6f6f6, #ffffff);
    border-radius: 8px;
  }
  /* Announcements */
    .announcements{
      grid-area: anno;
      display: flex;
      justify-content: space-between;
      background: #fff;
    }
    .ann-box{
      display: flex;
      align-items: center;
    }
    #ann-title-wrapper{
      border-right: 1px solid #ececec;
      height: 100%;
      width: 20%;
    }
    #ann-title{
      font-size: .8em;
      margin-left: 18px;
      font-family: sans-serif;
      font-weight: bold;
      color: #fe8f35;
    }
    #arrows-wrapper{
      border-left: 1px solid #ececec;
      height: 100%;
      width: 7%;
      justify-content: center;
    }
    .arrow-left{
      margin-right: 6px;
    }
    #lorem{
      font-family: sans-serif;
      color: #797979;
    }

  /* End Announcements */

  /* Tasks */
  .tasks{
    grid-area: task;
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  #task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 25px;
  }
  .task-row{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
  }
  .circle{
    height: 30px;
    width: 30px;
    background-color: #32cc66;
    border-radius: 50%;
    color: #fff;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.5em;
    margin: 15px;
  }
  .task-box{
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    color: #2498f4;
    font-family: 'Mukta Malar', sans-serif;
    margin-right: 10px;
    width: 55px;
    justify-content: space-evenly;
    font-size: 1.3em;
  }
  .task{
    flex-grow: 2;
  }
  /* End Tasks */

  /* Analytics-1 */
    .analytics-1{
      grid-area: anl1;
      background: #fff;
    }
  /* End Analytics-1 */

  /* Recommendations */
    .recommendations{
      grid-area: reco;
      background: #fff;
    }
  /* End Recommendations */

  /* Analytics-2 */
    .analytics-2{
      grid-area: anl2;
      background: #fff;
    }
  /* End Analytics-2 */

  /* Footer */
    .footer{
      grid-area: foot;
      background: #fff;
    }
  /* End Footer */
