/* Grids */
@supports (grid-area:auto){
  .navbars{
    display: grid;
    grid-template-rows: 45px 110px;
    grid-template-areas: 
    'tool'
    'navb';
  }
  .content{
    padding: 1px;
    grid-gap: 1px;
    margin-bottom: 40px;
    background: #ececec;
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 50px 950px 225px;
    grid-template-areas: 
    'anno anno anno'
    'task anly anly'
    'advs advs advs'
  }
}
/* End Grids */
  
/* Global */
body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
h2{
  margin: 0;
  color: #2498f4;
  font-size: 1.8em;
  letter-spacing: 1px;
}
h3{
  color: #2498f4;
  letter-spacing: .5px;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grow:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.pointer:hover{
  cursor: pointer;
}
.grayscale:hover{
  filter: grayscale(100%);
  cursor: pointer;
}
a{
  color: #2699f2;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}
a:visited{
  color: #609;
}
/* End Global */

/* Navbars */

  /* Toolbar */
    .toolbar{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-area: tool;
      background: linear-gradient(#2498f4, #208ce3)
    }
    #social-stream{
      position: absolute;
      left: 125px;
      font-size: 1.4em;
      font-family: 'PT-Sans', sans-serif;
      font-weight: 300;
    }
    .line{
      height: 28px;
      width: 2px;
      border-right: 1px solid #208ce3;
      margin: 0 10px;
    }
    .tool-text{
      margin: 0;
      font-family: sans-serif;
      font-weight: bold;
      color: #fff;
      font-size: .8em;
    }
    .settings{
      margin-right: 80px;
    }
  /* End Toolbar */

  /* Navbar */
    .navbar{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: flex-end;
      grid-area: navb;
      background: #134670;
      overflow: hidden;
    }
    .navb-item{
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      z-index: 4;
    }
    .navb-item2{
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      z-index: 4;
    }
    .marker{
      margin-top: 5px;
      margin-left: 7px;
    }
    .icon-shadow{
      margin: 14px 0;
    }
    .navb-item2 .icon-shadow{
      margin: 0;
      margin-top: 10px;
    }
    .backgrounds{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    .icon-background-stripes{
      z-index: 2;
      top:0;
    }
    .icon-background-shadow{
      z-index: 4;
    }
    .fade-left-shadow{
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
    }
    .fade-right-shadow{
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
    }
  /* End Navbar */
  
  /* Searchbar */
    .searchbar{
      width: 82.5%;
      height: 75px;
      margin: 15px auto;
      background: #33cc66;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .searchbar h1{
      color: #fff;
      font-family: 'PT-Sans', sans-serif;
      font-weight: 300;
    }
    .sbar-child{
      margin: 0 20px;
    }
    #input-wrapper{
      position: relative;
    }
    #sbar-input{
      border: 1px solid #2db55b;
      border-radius: 3px;
      height: 28px;
      width: 258px;
      color: #000;
      padding: 4px;
      font-size: 1.1em;
    }
    .search{
      position: absolute;
      bottom: 8px;
      right: 30px;
    }
  /* End Searchbar */

/* End of Navbars*/

/* Content */
  #content-wrapper{
    width: 80%;
    margin: auto;
    padding: 15px;
    background: linear-gradient(to top, #ffffff 75%, #f6f6f6);
    border-radius: 8px;
  }
  /* Announcements */
    .announcements{
      grid-area: anno;
      display: flex;
      justify-content: space-between;
      background: #fff;
    }
    .ann-box{
      display: flex;
      align-items: center;
    }
    #ann-title-wrapper{
      border-right: 1px solid #ececec;
      height: 100%;
      width: 20%;
    }
    #ann-title{
      font-size: .8em;
      margin-left: 18px;
      font-family: sans-serif;
      font-weight: bold;
      color: #fe8f35;
    }
    #arrows-wrapper{
      border-left: 1px solid #ececec;
      height: 100%;
      width: 7%;
      justify-content: center;
    }
    .arrow-left{
      margin-right: 6px;
    }
    #lorem{
      color: #797979;
    }

  /* End Announcements */

  /* Tasks */
  .tasks{
    grid-area: task;
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  #task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 25px;
  }
  .task-row{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }
  .task-row:hover{
    filter: grayscale(100%);
    cursor: pointer;
  }
  .circle{
    height: 30px;
    width: 30px;
    background-color: #32cc66;
    border-radius: 50%;
    color: #fff;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.5em;
    margin: 15px;
  }
  .task-box{
    border: 1px solid #ececec;;
    border-radius: 3px;
    color: #2498f4;
    font-family: 'Mukta Malar', sans-serif;
    margin-right: 10px;
    width: 55px;
    justify-content: space-evenly;
    font-size: 1.3em;
  }
  .task{
    flex-grow: 2;
  }
  /* End Tasks */

  /* Recommendations */
    #rec-header{
      padding: 18px 0 15px 15px;
      border-bottom: 1px solid #ececec;
    }
    .rec-row{
      display: flex;
      align-items: center;
      border-bottom: 1px dotted #ececec;;
      margin: 4px 10px 0 10px;
      padding-bottom: 10px;
    }
    .rec-row:hover{
      filter: grayscale(100%);
      transition: 110ms ease-in-out;
      cursor: pointer;
    }
    .rec-wrapper{
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      min-width: 22px;
    }
    .rec-small-text{
      font-size: .6em;
      color: #797979;
      font-weight: bold;
    }
    .rec-text{
      color: #797979;
      font-weight: bold;
    }
  /* End Recommendations */

  /* Analytics */
    .analytics-grid{
      grid-area: anly;
      background: #fff;
      display: flex;
      flex-direction: column;
    }
    #anly-title{
      margin: 35px 0 20px 35px;
    }
    #date{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 225px 0 45px;
    }
    #date h4{
      font-size: .8em;
      color: #b0b0b0;
    }
    #date-box-wrapper{
      border: 1px solid #cecece;
      border-radius: 1px;
      position: relative;
    }
    #date-box{
      color: #797979;
      font-weight: bold;
      font-family: 'Mukta Malar', sans-serif;
      font-size: 1em;
      border: 0;
    }
    #date-arrow-wrapper{
      position: absolute;
      right: 6px;
      bottom: 6px;
      background: #fff;
    }
    #chart-wrapper{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .pies{
      display: flex;
      flex-direction: column;
      margin: 0 20px 75px 0;
      border-left: 2px solid #d8d8d8;
    }
    .pie-text{
      color: #b0b0b0;
      font-weight: bold;
      margin: 0px 12px;
      font-size: .8em;
    }
    .pie{
      margin: 6px 20px;
    }
    #checkboxes{
      padding-bottom: 38px;
      border-bottom: 1px solid #ececec;
      margin-bottom: 25px;
    }
    .soc-med{
      border-radius: 4px;
      padding: 1px 11px 2px 8px;
      color: #fff;
      font-weight: bold;
      font-size: .7em;
      margin-right: 12px;
    }
    #facebook-text{
      background: #114570;
    }
    #twitter-text{
      background: #2298f4;
    }
    #foursquare-text{
      background: #3a599b;
    }
    #google-text{
      background: #31cc66;
    }
    .checkbox{
      margin-right: 4px;
      cursor: pointer;
    }
    #cust-cont{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-bottom: 30px;
      border-bottom: 1px solid #ececec;
    }
    .card{
      display: flex;
      align-items: center;
      position: relative;
    }
    .ribbon{
      margin-bottom: 41px;
    }
    .number{
      position: absolute;
      top: 68px;
      left: 18%;
      color: #fff;
      font-size: 1.5em;
    }
    .influencers{
      position: absolute;
      top: 93px;
      left: 31%;
      color: #fff;
      font-size: .8em;
    }
    #did-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #2298f4;
      color: #fff;
      font-weight: bold;
      font-size: .85em;
      margin: 30px 20px;
      border: 1px solid #fff;
    }
    #did-box p{
      margin: 38px 50px;
    }
  /* End Analytics */

  /* Advertisements */
    .advertisements{
      grid-area: advs;
      background: #2699f2;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .ad{
      display: flex;
      align-items: center;
      position: relative;
      width: 284px;
      height: 160px;
      background: #fff;
      border-radius: 8px;
      /* from w3Schools.com */
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
       /* end from w3Schools.com */
    }
    .watch{
      position: absolute;
      top: 0;
      left: 0;
    }
    .see{
      position: absolute;
      top: -12px;
    }
    .version{
      position: absolute;
      top: 0;
      right: 0;
    }
    .right{
      justify-content: flex-end;
    }
    #ad1-text{
      z-index: 1;
      margin-right: 15px;
      line-height: 125%;
    }
    #ad1-text h4{
      color: #31cc66;
      font-size: 1.2em;
      text-align: right;
      margin: 0 0 2px 0;
    }
    #ad1-text p{
      color: #797979;
      font-size: .9em;
      font-weight: bold;
      margin: 0;
    }
    #ad2-text{
      font-weight: bold;
      font-size: .9em;
      color: #fff;
      background: #31cc66;
      border-radius: 4px;
      padding: 8px 20px;
      z-index: 1;
    }
    #ad3{
      line-height: 120%;
    }
    #ad3-text{
      color: #fe8f35;
      font-size: 1.2em;
      z-index: 1;
      margin: 0 0 10px 15px;
    }

/* Footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #f4f4f4 90%, #fff);
  height: 55px;
  box-shadow: 0px 4px 10px 2px #000;
}
.footer-text{
  color: #808080;
  font-size: .9em;
  font-weight: bold;
}
.line2{
  height: 20px;
  border-right: 1px solid #808080a2;
  margin: 0 10px;
}
.line3{
  height: 100%;
  margin: 0 20px;
  border-right: 1px solid #808080a2;
}
.footer-sentence{
  color: #797979;
  font-size: .9em;
}
#pullup{
  margin-left: 100px;
}
.avatar{
  margin-right: 8px;
}
.sm-icon{
  margin: 2px;
  cursor: pointer;
}

/* Mobile Style */
@media only screen and (max-width: 600px){
/* Grids */
  @supports (grid-area:auto){
    .navbars{
      display: grid;
      grid-template-rows: 45px 110px;
      grid-template-areas: 
      'tool'
      'navb';
    }
    .content{
      padding: 1px;
      grid-gap: 1px;
      grid-template-columns: 1fr;
      margin-bottom: 20px;
      background: #ececec;
      display: grid;
      grid-template-rows: 150px 600px 1200px 580px;
      grid-template-areas: 
      'anno'
      'task'
      'anly'
      'advs'
    }
  }
/* End Grids */

/* Global */
  body{
    max-width: 100vw;
  }

/* Navbars */

  /* Toolbar */
    #social-stream{
      display: none;
    }
    .settings{
      margin-right: 10px;
    }
    .backgrounds{
      max-width: 100vw;
    }
  /* Navbar */
    .navb-item{
      margin: 0;
    }
    .navb-item2{
      margin: 0;
    }
    .nav-icon{
      transform: scale(.65);
    }
  /* Searchbar */
    .searchbar{
      width: 97.5%;
    }
    .searchbar h1{
      font-size: 1.5em;
    }
    .search{
      right: 15px;
    }
    .sbar-child{
      margin: 0 5px;
    }
    #sbar-input{
      width: 150px;
    }
    .announcements{
      max-width: 100vw;
      flex-direction: column;
    }
    #ann-title-wrapper{
      width: 100%
    }
    #ann-title{
      margin: auto;
    }
    #lorem-wrapper{
      width: 90%;
      margin: auto;
      text-align: center;
      margin-bottom: 5px;
    }
    #arrows-wrapper{
      width: 100%;
    }

/* Content */
    #content-wrapper{
      width: 97.5%;
      padding: 0;
    }

  /* Tasks */
    .tasks{
      max-width: 100vw;
    }
    #task-header{
      max-width: 95vw;
      margin: 10px 5px 0 5px;
    }
    .task-row{
      max-width: 95vw;
    }

  /* Recommendations */
    .recommendations{
      max-width: 95vw;
    }
  /* Analytics */
    .analytics-grid{
      max-width: 97vw;
    }
    #anly-title{
      margin: 5px;
    }
    #date{
      margin: 0;
    }
    #date h4{
      margin-left: 10px;
    }
    #date-box-wrapper{
      margin-right: 10px;
    }
    #chart-wrapper{
      flex-direction: column;
    }
    .graph{
      transform: scale(.75);
    }
    .pies{
      flex-direction: row;
      margin: 0 0 15px 0;
      border-left: 0;
    }
    .pie-group{
      text-align: center;
    }
    .pie{
      margin: 6px 20px;
    }
    #checkboxes{
      margin: 0 2px 25px 2px;
    }
    #cust-cont{
      flex-direction: column;
    }
    .card{
      margin-bottom: 20px;
    }
    .soc-med{
      padding: 1px 2px 2px 2px;
    }
    #did-box{
      max-width: 95vw;
      margin: 10px;
    }
    #did-box p{
      margin: 10px 18px;
    }
    .back{
      width: 140px !important;
    }
    .next{
      width: 110px !important;
    }
  /* Advertisements */
    .advertisements{
      flex-direction: column;
      justify-content: flex-start;
    }
    .ad{
      margin: 15px 0;
    }
  /* Footer */
    .hide{
      display: none;
    }
    .line3{
      margin: 0 10px;
    }
}